.catalog {
  min-height: 671px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__main-title {
  margin: 0;
  padding: 20px 0 40px;
  color: @title-color;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 25px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 25px;
  }
}
