.catalog {
  min-height: 671px;
  padding-top: 5px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;


  @media (min-width: @tablet-width) {
    width: 786px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    // grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0 40px;
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__main-title {
  margin: 20px 0 40px;
  color: @title-color;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}
