.catalog {
  min-height: 671px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 48px;
  }
}

.catalog__wrapper {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;


  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 64px 30px 0;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding: 44px 40px 0;
  }
}

.catalog__main-title {
  margin: 27px auto 40px;
  color: @title-color;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0 0 87px;
    font-size: 60px;
    line-height: 60px;
  }
}
