.form__group-reset {
  .fieldset-reset();
}

.form__label {
  .fonts-text-form-mobile();
  color: @paragraph-color;
  font-family: @font-title;
  font-weight: 400;
  text-transform: uppercase;
}

// Данные питомца

.form__data-group-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 21px;

  @media (min-width: @tablet-width) {
    // padding-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    // padding-bottom: 93px;
  }
}

.form__list {
  .list-reset();
}

.form__data-list,
.form__contacts-list {
  display: grid;
  grid-template-columns: 2fr;
  row-gap: 11px;
}

.form__data-item,
.form__contacts-item {
  display: flex;
  align-items: center;
}

// Иконки в форме
.form__icon {
  position: relative;
}

.form-icon-email,
.form-icon-phone {
  position: absolute;
  top: -7px;
  left: -31px;
  width: 20px;
  height: 16px;
}

.form__data-label,
.form__contacts-label {
  margin-right: 13px;
  white-space: nowrap;
}

.form__data-field,
.form__contacts-field {
  .fonts-text-form-mobile();
  font-family: @font-title;
  color: @paragraph-color;
  text-transform: uppercase;
}


// Выберите программу
.form__programm-group-wrapper {
  .item-current-top();
  .item-current-bottom();
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px 25px;
  position: relative;
}

.form__programm-list {
  display: grid;
  grid-template-columns: 2fr;
  row-gap: 25px;
}

// Контактные данные
.form__contacts-group-wrapper {
  .decoration-line-mobile();
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px 0;
  position: relative;
}

.form__contacts-title {
  .text-subtitle-form();
  margin: 0 70px 33px 0;
  padding: 0;
  color: @title-color;
  font-family: @font-title;
  display: inline-block;
  background-color: @text-color;
  position: relative;
  z-index: 1;
}

// Комментарий
.form__comment-wrapper {
  .decoration-line-mobile();
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 0;
  position: relative;
}

.form__comment {
  display: grid;
}

.form__comment-title {
  .text-subtitle-form();
  position: relative;
  color: @title-color;
  background-color: @text-color;
  font-family: @font-title;
  padding: 0 20px 0 0;
  margin-bottom: 36px;
  z-index: 1;
}


.form__comment-text {
  .fonts-text-form-mobile();
  min-height: 150px;
  padding: 14px;
  border: 1px solid #e7e7e7;
  color: @paragraph-color;
  font-family: @font-title;
  font-weight: 400;
  text-transform: uppercase;
}

.form__additional-group-wrapper {
  .decoration-line-mobile();
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 3px;
  position: relative;
}

.form__additional-title {
  .text-subtitle-form();
  color: @title-color;
  font-family: @font-title;
  padding: 0 20px 0 0;
  margin-bottom: 35px;
  background-color: @text-color;
  position: relative;
  z-index: 1;
}

.form__additional-list {
  display: grid;
  row-gap: 14px;
  margin-bottom: 25px;
}

.form__additional-item {
  min-height: 30px;
}

.form__note {
  margin: 0;
  padding: 21px 0 32px;
  color: @title-color;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}


// Состояния
.form-field {
  min-height: 45px;
  width: 100%;
  padding: 14px 40px 14px 15px;
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible,
  &:active {
    outline: solid 2px;
    outline-color: @paragraph-color;
  }
}

.form-field:hover + .form__icon,
.form-field:focus-visible + .form__icon {
  color: @accent-color;
  transition: all 0.2s ease;
}

.form-field:disabled,
.form-field:disabled + .form__icon {
  opacity: 0.2;
}

.form__comment-text:focus-visible {
  outline: 2px solid #444444;
}

// Error

.form-field-error {
  min-height: 45px;
  width: 100%;
  padding: 14px 40px 14px 15px;
  border: 2px solid #ff8282;
}

.form-field-error:active {
  outline: #ff8282 solid 2px;
}


.form-field-error + .form__icon {
  color: #ff8282;
}
