.intro {
  position: relative;
  background-image: url("../img/photo-cat-intro.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @text-color;
    margin: 0 auto;
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 960px;
  }
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: @accent-color;
  width: 100%;
  height: 302px;

  @media (min-width: @tablet-width) {
    background-color: @text-color;
    width: 100%;
  }
}


.intro__wrapper {
  position: relative;
  padding: 0 20px;
}

.intro__header {
  display: flex;
  min-height: 480px;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: 640px;

    .intro__title {
      min-width: 414px;
      height: 120px;
      color: @title-color;
      font-family: @font-title;
      font-size: 60px;
      font-weight: 400;
      line-height: 60px;
      text-align: left;
    }

    .intro__slogan {
      min-width: 283px;
      height: 20px;
      color: @title-color;
      font-family: @font-title;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: 960px;
  }
}

.intro__title {
  min-width: 249px;
  min-height: 72px;
  margin: 27px 0 25px;
  color: @text-color;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  z-index: 1;
}

.intro__slogan {
  min-width: 198px;
  min-height: 14px;
  margin: 0 0 29px;
  color: @text-color;
  font-family: @font-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.intro__img {
  margin-bottom: 3px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    // background-color: #68b738;
    left: 331px;
    min-width: 552px;
    height: 499px;
  }
}

.intro__button {
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  background-color: @accent-color;
  color: @text-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    position: absolute;
    top: 232px;
    background: #68b738;
    z-index: 2;
    width: 244px;
    padding: 10px 20px;
    text-align: center;
  }
}

// @media (min-width: @tablet-width) {
//   .intro__header {
//     display: flex;
//     align-items: flex-start;
//     margin: 0 auto;
//     width: 640px;
//   }

//   .intro__title {
//     min-width: 414px;
//     height: 120px;
//     color: @title-color;
//     font-family: @font-title;
//     font-size: 60px;
//     font-weight: 400;
//     line-height: 60px;
//     text-align: left;
//   }

//   .intro__slogan {
//     min-width: 283px;
//     height: 20px;
//     color: @title-color;
//     font-family: @font-title;
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 20px;
//     text-align: left;
//     text-transform: uppercase;
//   }
// }

// @media (min-width: @desktop-width) {
//   .intro__header {
//     display: flex;
//     align-items: flex-start;
//     margin: 0 auto;
//     width: 960px;
//   }
// }


