.intro {
  background-color: @base-color;
  margin-bottom: 20px;
}

.intro__wrapper {
  padding: 0 20px;
}

.intro__header {
  display: flex;
  min-height: 480px;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  min-width: 249px;
  min-height: 72px;
  margin: 27px 0 25px;
  color: #ffffff;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.intro__slogan {
  min-width: 198px;
  min-height: 14px;
  margin: 0;
  color: #ffffff;
  font-family: @font-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
