.intro {
  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @text-color;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 130px;
    position: static;
  }

  &::after {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      top: -50px;
      width: 50%;
      height: 697px;
      right: 0;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
        url("../img/index/bg-index-cat-desktop@1x.webp");
      background-size: cover;
      background-position: left center;

      @media (min-resolution: 2dppx) {
        background-image:  linear-gradient(rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)),
          url("../img/index/bg-index-cat-desktop@2x.webp");
        background-size: cover;
        background-position: left center;
      }
    }
  }
}

.intro__wrapper {
  width: 320px;
  padding: 0 20px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: @mobile-width-only) {
    background-image: url("../img/index/bg-index-cat-mobile@1x.webp");
    background-repeat: no-repeat;
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/bg-index-cat-mobile@2x.webp");
      background-size: 320px auto;
    }
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 63px auto 40px auto 50px auto;
    justify-items: start;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding: 0 40px;
    grid-template-columns: 80px 367px 50px 502px;
    grid-template-rows: 102px auto 40px auto 51px auto;
  }
}

.intro__wrapper::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    top: 0;
    background-color: @accent-color-transparent;
    width: 100%;
    height: 303px;
    z-index: 2;
  }
}

.intro__title {
  .fonts-title-main-mobile();
  margin: 27px 0 25px;
  color: @text-color;
  font-family: @font-title;
  text-align: center;
  z-index: 5;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    grid-column: 2/4;
    color: @title-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/3;
    grid-column: 2/4;
    margin: 0;
  }
}

.intro__slogan {
  margin: 0 0 29px;
  color: @text-color;
  font-family: @font-title;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;

  @media (min-width: @tablet-width) {
    grid-column: 2/4;
    grid-row: 4/5;
    color: @title-color;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/4;
    grid-row: 4/5;
    margin: 0;
  }
}

.intro__image-wrapper {
  z-index: 5;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    grid-column: 1/4;
    grid-row: 5/8;
    margin-top: 20px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/5;
    grid-row: 1/8;
  }
}

.intro__button {
  @media (min-width: @tablet-width) {
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
    min-height: 54px;
    grid-row: 6/7;
    grid-column: 2/3;
    z-index: 5;
    width: 244px;
    align-self: start;
  }

  @media (min-width: @desktop-width) {
    grid-row: 6/7;
  }
}
