.invitation {
  min-height: 112px;
  padding: 26px 20px;
}

.invitation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation__subtitle {
  min-width: 170px;
  margin: 0;
  color: #111111;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.invitation__text {
  margin: 0;
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .invitation {
    min-height: 200px;
    padding: 60px 70px;
  }
}

@media (min-width: @desktop-width) {
  .invitation {
    width: 565px;
    min-height: 200px;
    position: relative;
    top: 380px;
    background-color: @text-color;
    border: 1px dashed #bababa;
  }
}

@media (min-width: @tablet-width) {
  .invitation__subtitle {
    width: 163px;
    height: 78px;
  }
}

// @media (min-width: @desktop-width) {
//   .invitation__subtitle {
//   }
// }

@media (min-width: @tablet-width) {
  .invitation__text {
    width: 157px;
    height: 80px;
  }
}

// @media (min-width: @desktop-width) {
//   .invitation__text {
//     //
//   }
// }
