.main-nav {
  color: @title-color;
}

.main-nav__list {
  font-family: @font-title;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__wrapper {
  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 436px;
  }
}

@media (min-width: @desktop-width) {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 475px;
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
