.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {

  width: 320px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding: 66px 40px;
  }
}

.main-footer__logo-wrapper {
  min-height: 44px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  width: 132px;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.main-footer__copyright {
  width: 100%;
  min-height: 34px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.copyright {
  position: relative;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   bottom: 58px;
  //   width: 100%;
  //   height: 1px;
  //   background-color: #d9d9d9;
  // }
}

.copyright__link {
  position: relative;
  min-width: 114px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  &::after {
    position: absolute;
    content: url("../img/social-icons/html-academy-logo.svg");
    top: -6px;
    right: -166px;
  }
}
