.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #ebebeb;
  padding: 20px 0 42px;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    background-color: @extra-button-color;
    padding: 10px 37px 40px;
  }
}

.product-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__title {
  color: #222222;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.product-card__info,
.product-card__description {
  margin: 0;
}

.product-card__list {
  width: 100%;
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
}

.product-card__button {
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  background-color: @accent-color;
  color: @text-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

// Показать еще больше товаров
.product-card-extra {
  padding-top: 78px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 209px;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;

  @media (min-width: @tablet-width) {
    padding: 10px 37px 40px;
    border: 2px solid #ebebeb;
  }
}

.product-card-extra__content-wrapper {
  @media (min-width: @tablet-width) {
    width: 168px;
    min-height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 64px;
    position: relative;
  }
}


.product-card-extra__link {
  // &::before {
  //   content: url("../img/product-card/icon-extra-plus.svg");
  //   position: absolute;
  //   top: 0;
  //   right: 54px;
  //   width: 60px;
  // }
}

.product-card-extra__title {
  margin: 0 0 8px;
  color: #111111;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.product-card-extra__description {
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0 0 22px;
}

.product-card-extra__button {
  padding: 10px 20px;
  background-color: @extra-button-color;
  color: @paragraph-color;
  min-width: 100%;
  min-height: 40px;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
