
.product-card-additional__wrapper {
  min-width: 280px;
  min-height: 98px;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.product-card-additional__title {
  margin: 25px 0 50px;
  color: rgb(0, 0, 0);
  font-family: @font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.product-card-additional__subtitle {
  margin: 0 0 13px;
  color: #222222;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: start;
  text-transform: uppercase;
}

.product-card-additional__list {
  margin: 0;
  color: #444444;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.product-card-additional__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // min-width: 280px;
  width: 100%;
}

.product-card-additional__text {
  color: #444444;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
}

.product-card-additional__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 40px;
  background-color: @button-color;
  color: @text-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .product-card-additional__wrapper {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 316px);
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__wrapper {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 200px 200px 244px;
    align-items: center;
    gap: 45px;
    width: 894px;
  }
}

// @media (min-width: @tablet-width) {
//   .product-card-additional__item {

//   }
// }

@media (min-width: @desktop-width) {
  .product-card-additional__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__title {
    color: @title-color;
    font-family: @font-title;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__title {
    color: @title-color;
    font-family: @font-title;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__subtitle {
    margin: 0;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__subtitle {
    // min-width: 244px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__button {
    min-width: 632px;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__button {
    min-width: 244px;
    margin: 0;
  }
}
