.catalog__product-card-list {
  display: grid;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}


.product-card__item {
  @media (max-width: @mobile-width-only) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 14px auto 21px auto;
    padding: 20px 0 25px;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    padding: 30px 37px 40px;
    // min-height: 511px;
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: auto 22px auto 20px auto 32px auto;
    justify-items: center;

    &:not(:last-child) {
      background-image: linear-gradient(#ffffff 15%, #ebebeb 15%);
      min-height: 511px;
    }
  }

  @media (min-width: @desktop-width) {
    //
  }
}

@media (max-width: @mobile-width-only) {
  .product-card__item::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 0;
    width: 300%;
    left: -100%;
    background-color: #ebebeb;
  }

  .product-card__item:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 300%;
    left: -100%;
    background-color: #ebebeb;
  }
}

@media (min-width: @tablet-width) {
  .product-card__item:last-child {
    background-color: #ffffff;
    margin-top: 76px;
  }
}

.product-card__link {
  grid-row: 1/4;
  margin-left: 28px;
  width: 86px;
  align-self: self-end;

  @media (min-width: @tablet-width) {
    grid-row: 1/2;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    //
  }
}

.product-card__link-text {
  margin: 0;
  color: #222222;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 76px;
  grid-row: 1/2;

  @media (min-width: @tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    grid-row: 3/4;
  }
}

.product-card__content-wrapper {
  grid-row: 3/4;

  @media (min-width: @tablet-width) {
    width: 100%;
    grid-row: 5/6;
    grid-column: 1/2;
  }
}

.product-card__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  min-width: 140px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__description,
.product-card__info {
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}

.product-card__info {
  text-align: left;
}

.product-card__description {
  text-align: right;
}

.product-card__button {
  grid-column: 1/3;
  grid-row: 5/6;

  @media (min-width: @tablet-width) {
    grid-row: 7/8;
  }
}
