.product-card-additional {
  padding-top: 25px;
}

.product-card-additional__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 13px 0 18px;
  margin: 0 auto;
  border-top: 2px solid #ebebeb;

  &:last-child {
    border-bottom: 2px solid #ebebeb;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 316px);
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    display: grid;
    // grid-template-columns: 200px 200px 244px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 45px;
  }
}

.product-card-additional__title {
  margin: 0 0 50px;
  color: rgb(0, 0, 0);
  font-family: @font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.product-card-additional__subtitle {
  margin: 0 0 13px;
  color: #222222;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: start;
  text-transform: uppercase;
}

.product-card-additional__list {
  margin: 0;
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.product-card-additional__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // min-width: 280px;
  width: 100%;
}

.product-card-additional__text {
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  margin: 0 0 25px;
}

.product-card-additional__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 40px;
  background-color: @accent-color;
  color: @text-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

// @media (min-width: @tablet-width) {
//   .product-card-additional__item {

//   }
// }

@media (min-width: @desktop-width) {
  .product-card-additional__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__title {
    color: @title-color;
    font-family: @font-title;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__title {
    color: @title-color;
    font-family: @font-title;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__subtitle {
    margin: 0;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__subtitle {
    // min-width: 244px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .product-card-additional__button {
    min-width: 632px;
  }
}

@media (min-width: @desktop-width) {
  .product-card-additional__button {
    min-width: 244px;
    margin: 0;
  }
}
