// Показать еще больше товаров
.product-card-extra {
  padding-top: 78px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: @tablet-width) {
    padding: 10px 37px 40px;
    border: 2px solid #ebebeb;
  }
}

.product-card-extra__content-wrapper {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 168px;
    min-height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 82px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.product-card-extra__link {
  position: relative;
}

.product-card-extra__link::before {
  content: url("../img/product-card-extra/icon-plus-mobile.svg");
  position: absolute;
  bottom: 40px;
  right: 93px;
  width: 30px;

  @media (min-width: @tablet-width) {
    content: url("../img/product-card-extra/icon-plus-tablet.svg");
    bottom: 110px;
    right: 54px;
    width: 60px;
  }

  @media (min-width: @desktop-width) {
    bottom: 100px;
  }
}

.product-card-extra__title {
  margin: 0 0 8px;
  color: #111111;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.product-card-extra__description {
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card-extra__button {
  background-color: @extra-button-color;
  color: @paragraph-color;

  &:hover {
    background: #ebebeb;
  }

  &:active {
    background: #ebebeb;
    opacity: 1;
  }
}
