.product-card-promo {
  background-image: url("../img/photo-promo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card-promo__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 290px;
  background-color: @button-color;
  color: @text-color;
  font-family: @font-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  // padding-bottom: 43px;
}

.product-card-promo__description {
  width: 161px;
  min-height: 60px;
}

@media (min-width: @tablet-width) {
  .product-card-promo {
    background-image: url("../img/photo-promo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// @media (min-width: @desktop-width) {
//   .product-card-promo {
//   }
// }

@media (min-width: @tablet-width) {
  .product-card-promo__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: @tablet-width) {
  .product-card-promo__description {
    width: 161px;
    min-height: 60px;
    text-align: left;
    margin-right: 50px;
  }
}
