.programm {
  color: @text-color;
}

.programm__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding: 0 40px 71px;
  }
}

.programm__list {
  .list-reset();
  display: grid;
  gap: 20px;

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 570px);
    gap: 20px 80px;
  }
}

.programm__item {
  position: relative;
  padding: 30px 20px 22px 20px;
  background-color: #f2f2f2;

  &--slim::before {
    position: absolute;
    content: url("../img/programms/cat-sit.svg");
    top: 21px;
    left: 20px;

    @media (min-width: @tablet-width) {
      content: url("../img/programms/cat-sit-tablet.svg");
      top: 92px;
      left: 446px;
    }

    @media (min-width: @desktop-width) {
      content: url("../img/programms/cat-sit-desktop.svg");
      top: 41px;
      left: 52px;
    }
  }

  &--pro::before {
    position: absolute;
    content: url("../img/programms/cat-stay.svg");
    top: 24px;
    left: 12px;

    @media (min-width: @tablet-width) {
      content: url("../img/programms/cat-stay-tablet.svg");
      top: 92px;
      left: 420px;
    }

    @media (min-width: @desktop-width) {
      content: url("../img/programms/cat-stay-desktop.svg");
      top: 48px;
      left: 33px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 63px 57px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 61px 59px 52px;
  }
}

@media (max-width: @mobile-width-only) {
  .programm__item {
    &::after {
      position: absolute;
      content: "";
      bottom: 58px;
      left: 20px;
      width: 240px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

.programm__title {
  margin: 0 0 30px 70px;
  color: @title-color;
  font-family: @font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 340px;
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.programm__description {
  .fonts-text-mobile();
  min-width: 227px;
  min-height: 90px;
  margin: 0 0 41px;
  color: @paragraph-color;
  font-family: @font-text;
  font-weight: 400;
  text-align: left;

  @media (min-width: @tablet-width) {
    .fonts-text-tablet();
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    width: 457px;
    margin-bottom: 10px;
  }
}

.programm__link {
  position: relative;
  display: flex;
  align-items: center;
  font-family: @font-title;
  width: 136px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

// .programm__link::after {
//   position: absolute;
//   content: url("../img/icon-arrow.svg");
//   width: 32px;
//   height: 12px;
//   top: 0;
//   right: 0;
// }

.programm__link-icon {
  margin-left: 18px;

  // &:hover {
  //   color: #d9d9d9;
  //   width: 32px;
  //   margin-left: 35px;
  //   transform: translateX(50%);
  // }
}
