.program-selection__form {
  overflow: hidden;
}

.program-selection__container {
  @media (min-width: @tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    margin: 0 auto;
    padding: 74px 40px 46px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

// Данные питомца
.program-selection__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 21px;

  @media (min-width: @tablet-width) {
    width: 628px;
    padding: 55px 0 75px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 0;
  }
}

.program-selection__title {
  .fonts-title-main-mobile();
  margin: 0 auto 37px;
  color: @title-color;
  font-family: @font-title;

  @media (min-width: @tablet-width) {
    .fonts-title-main();
    margin: 0 auto 55px;
  }
}

.program-selection__text {
  .fonts-text-mobile();
  margin: 0 0 39px;
  width: 270px;
  font-family: @font-title;
  color: @title-color;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .fonts-text-form-tablet();
    min-width: 320px;
    margin-bottom: 65px;
    // margin: 0 0 0 40px;
  }
}
