.programm-process {
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 69px;
  }
}

.programm-process__wrapper {
  width: 320px;
  padding: 20px 20px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding: 0 40px;
  }
}

.programm-process__title {
  margin: 0 0 42px;
  color: @title-color;
  font-family: @font-title;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    .fonts-title-main();
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.programm-process__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 248px);
    // gap: 37px 137px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 247px);
  }
}

.programm-process__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-bottom: 25px;

  &:last-child {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 0;
    }
  }

  &--eco::before {
    background-image: url("../img/programms/icon-eco.svg");
  }

  &--quickly::before {
    background-image: url("../img/programms/icon-water.svg");
  }

  &--eat::before {
    background-image: url("../img/programms/icon-eat.svg");
  }

  &--change::before {
    background-image: url("../img/programms/icon-clock.svg");
  }

  @media (min-width: @tablet-width) {
    padding: 130px 5px 37px 0;
    min-height: 280px;
  }
}

.programm-process__item--eco::before,
.programm-process__item--eat::before,
.programm-process__item--quickly::before,
.programm-process__item--change::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: @accent-color;

  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}


.programm-process__item--eco {
  @media (min-width: @tablet-width) {
    background-image: url("../img/programms/number-block-1.svg");
    background-position: 127px 40px;
    background-repeat: no-repeat;
  }
}

.programm-process__item--quickly {
  @media (min-width: @tablet-width) {
    background-image: url("../img/programms/number-block-2.svg");
    background-position: 124px 40px;
    background-repeat: no-repeat;
  }
}

.programm-process__item--eat {
  @media (min-width: @tablet-width) {
    background-image: url("../img/programms/number-block-3.svg");
    background-position: 114px;
    background-repeat: no-repeat;
  }
}

.programm-process__item--change {
  @media (min-width: @tablet-width) {
    background-image: url("../img/programms/number-block-4.svg");
    background-position: 127px 40px;
    background-repeat: no-repeat;
  }
}

.programm-process__description {
  .fonts-text-mobile();
  color: @paragraph-color;
  font-family: @font-text;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    .fonts-text-tablet();
    margin: 0;
    padding-left: 0;
  }
}
