.programm {
  color: @text-color;
}

.programm__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
    min-width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    min-width: 1220px;
  }
}

.programm__item {
  padding: 30px 30px 22px 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 63px 57px 52px;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 61px 59px 52px;
  }
}

.programm__title {
  min-width: 110px;
  min-height: 37px;
  margin: 0 0 30px;
  color: @title-color;
  font-family: @font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.programm__description {
  min-width: 227px;
  min-height: 90px;
  margin: 0 0 42px;
  color: @paragraph-color;
  font-family: @font-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  @media (min-width: @tablet-width) {
    min-width: 340px;
    height: 96px;
  }
}

.programm__link {
  margin: 0;
  color: @title-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}


// @media (min-width: @tablet-width) {
//   .programm__list {
//     padding: 77px 63px 57px 52px;
//   }
// }

// @media (min-width: @desktop-width) {
//   .programm__list {
//   }
// }

@media (min-width: @desktop-width) {
  .programm__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
