.social__list {
  .list-reset;
  width: 134px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  padding: 5px;
}

.copyright__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;

  &:hover {
    // opacity: 0.7;
    transition: all 0.2s ease;
  }

  &:active {
    opacity: 0.4;
  }
}

.social__link svg {
  color: @icon-color;
}

.social__link:hover svg {
  color: @accent-color;
  transition: all 0.2s ease;

  &:active {
    opacity: 0.3;
  }
}
