.social__list {
  .list-reset;
  width: 134px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  padding: 5px;
}

.social__link svg {
  color: @icon-color;
}

.social__link:hover svg {
  color: @accent-color;
  transition: all 0.2s ease;

  &:active {
    opacity: 0.3;
  }
}
