// переменные для шрифтов
@font-title: "Oswald", sans-serif;
@font-text: "Lato", sans-serif;

// переменные для фона
@accent-color:#68B738;
@accent-color-transparent:#68b738d9;
@text-color: #ffffff;
@extra-button-color:#f2f2f2;
@title-color:#000000;
@paragraph-color:#444444;
@icon-color: #666666;

//переменные для медиавыражений
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
