// базовые стили
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

a {
  color: @title-color;
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

// Возможно сделать отдельным блоком
.button {
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  background-color: @accent-color;
  color: @text-color;
  font-family: @font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #ffffff57;
  }
}
