// базовые стили
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  width: 320px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: @title-color;
  text-decoration: none;
}

// img {
//   // width: 100%;
//   // height: auto;
// }
